* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
  height: 100dvh;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: rgba(200, 200, 200, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  outline: none;
  border: none;
  border-radius: 1rem;
  display: grid;
  place-items: center;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
dialog .dialog {
  display: none;
  position: relative;
  padding: 30px;
  background: rgb(150, 150, 150);
  box-shadow: 0 0 15px rgba(15, 15, 15, 0.5);
  text-align: center;
}
dialog .dialog button {
  background: rgba(250, 250, 250, 0.5);
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
dialog .dialog .close-dialog {
  position: absolute;
  top: 15px;
  right: 15px;
  display: grid;
  place-items: center;
}
dialog .dialog .close-dialog :is(:hover, :focus, :focus-visible) {
  fill: red;
}
dialog .dialog :is(h2, h3, div) {
  margin-bottom: 15px;
}
dialog[open] .dialog {
  display: block;
}

#cont {
  padding: 30px;
  height: 100%;
}
#cont section {
  margin-top: 15px;
  margin-bottom: 15px;
}
#cont section h1 {
  text-align: center;
  font-size: 2.5rem;
}
#cont .useless {
  display: grid;
  place-items: center;
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 0.9rem;
  color: #888888;
}
#cont .useless strong {
  cursor: default;
}
#cont .useless.footer {
  border-bottom: none;
  border-top: 1px solid #d4d4d4;
}
#cont .scores {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(220, 220, 220);
  border-radius: 1rem;
  padding: 15px;
}
#cont .options {
  background: rgb(240, 240, 240);
  display: flex;
  gap: 1rem;
  padding: 15px;
  border-radius: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
#cont .options button {
  border: none;
  background: rgb(200, 200, 200);
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
}
#cont .options button:is(:hover, :focus, :focus-visible) {
  background: rgb(180, 180, 180);
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.5);
}
#cont .options input[type=radio] {
  display: none;
}
#cont .word-seek {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#cont .word-seek .word-seek-letter {
  width: 3rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  font-weight: 700;
  background: #d4d4d4;
  display: grid;
  place-items: center;
  border-radius: 0.2rem;
}
#cont .word-seek .word-seek-letter:is(.hyphen, .space) {
  background: none;
}
#cont .buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}
#cont .buttons button {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 0.5rem;
  background: rgb(200, 200, 200);
  cursor: pointer;
  transition: 0.2s ease;
}
#cont .buttons button:is(:hover, :focus, :focus-visible) {
  background: rgb(220, 220, 220);
}
#cont .buttons button.clicked {
  background: rgb(150, 150, 150);
}/*# sourceMappingURL=style.css.map */
